<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Github Jobs</title>
  <link rel="stylesheet" href="../model/style.css">
  <!-- Tipografía -->
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"  
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  
          crossorigin="anonymous"></script>
</head>

<body>
  <section class="consulta">
    <div class="consulta__contenido">
      <h1 class="consulta__titulo">Github Jobs</h1>
      <p class="consulta__instrucciones">Ingresa un lenguaje de programación y/o 
        utiliza los filtros para consultar los trabajos disponibles.</p>
      <form id="jobsForm" class="consulta__formulario">
        <input type="text" id="jobsInput" class="formulario__info">
        <input type="submit" id="jobsSubmit" class="formulario__boton" value="Consultar">
      </form>
    </div>
  </section>
  <section id="respuesta" class="respuesta">
    <div class="respuesta__contenido">
      <div class="respuesta__descripcion" id="jobsData">
        <div class="respuesta__descripcion_img">
          <img src="https://jobs.github.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbCtBIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--fae31e23baf01dea30a08ce322586f67ca72b76c/Logo.png" alt="Company Logo">
        </div>
        <div class="respuesta__descripcion_texto">
          <h2 class="respuesta__titulo">Senior Back-End Web Developer</h2>
          <div class="respuesta__detalles">
            <h3 class="respuesta__tipo">Full Time</h3>
            <h4 class="respuesta__locacion">Rockland, MA</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../controller/script.js"></script>
</body>
</html>